@model UnconfirmedBattleReportsViewModel
@{
    ViewData["Title"] = "UnconfirmedBattleReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="border applicationFormGroup">
    <div class="row">
        <div class="col-12">
            <h2 class="text-info">Unconfirmed Battle Reports</h2>
        </div>
    </div>
    <br />
    <div>
        <h5 class="text-info">Awaiting Opponents Confirmation</h5>
        @if (Model.UsersBattleReports.Count() != 0)
        {
            <div class="table-responsive">
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>Date Played</th>
                        <th>Poster</th>
                        <th>User</th>
                        <th>Scenario</th>
                        <th>End Condition</th>
                        <th>@string.Empty</th>
                    </tr>
                    @foreach (BattleReport battleReport in Model.UsersBattleReports)
                    {
                    <tr>
                        <td>@battleReport.DatePlayed.ToShortDateString()</td>
                        @if (battleReport.PostersUsername == battleReport.WinnersUsername)
                        {
                            <td class="font-weight-bold">@battleReport.PostersUsername</td>
                            <td>@battleReport.OpponentsUsername</td>
                        }
                        else
                        {
                            <td>@battleReport.PostersUsername</td>
                            <td class="font-weight-bold">@battleReport.OpponentsUsername</td>
                        }
                        <td>@battleReport.Scenario</td>
                        <td>@battleReport.EndCondition</td>
                        <td class="tableButtonsGroup">
                            <div class="btn-group" role="group">
                                <a class="btn btn-primary text-white" asp-action="Edit" asp-route-Id="@battleReport.Id">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="btn btn-success text-white" asp-action="UserReportDetails" asp-route-Id="@battleReport.Id">
                                    <i class="fas fa-list-alt"></i>
                                </a>
                                <a class="btn btn-danger text-white" asp-action="Delete" asp-route-Id="@battleReport.Id">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    }
                </table>
            </div>
        }
        else
        {
            <p>You currently have no battle reports awaiting an opponents approval.</p>
        }
        <h5 class="text-info">Awaiting Your Confirmation</h5>
        @if (Model.OpponentsBattleReports.Count() != 0)
        {
            <div class="table-responsive">
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>Date Played</th>
                        <th>Poster</th>
                        <th>User</th>
                        <th>Scenario</th>
                        <th>End Condition</th>
                        <th>@string.Empty</th>
                    </tr>
                    @foreach (BattleReport battleReport in Model.OpponentsBattleReports)
                    {
                        <tr>
                            <td>@battleReport.DatePlayed.ToShortDateString()</td>
                            @if (battleReport.PostersUsername == battleReport.WinnersUsername)
                            {
                                <td class="font-weight-bold">@battleReport.PostersUsername</td>
                                <td>@battleReport.OpponentsUsername</td>
                            }
                            else
                            {
                                <td>@battleReport.PostersUsername</td>
                                <td class="font-weight-bold">@battleReport.OpponentsUsername</td>
                            }
                            <td>@battleReport.Scenario</td>
                            <td>@battleReport.EndCondition</td>
                            <td class="tableButtonsGroup">
                                <div class="btn-group" role="group">
                                    <a class="btn btn-primary text-white" asp-action="AcceptUnconfirmedView" asp-route-Id="@battleReport.Id">
                                        <i class="fas fa-thumbs-up"></i>
                                    </a>
                                    <a class="btn btn-success text-white" asp-action="DetailsUnconfirmed" asp-route-Id="@battleReport.Id">
                                        <i class="fas fa-list-alt"></i>
                                    </a>
                                    <a class="btn btn-danger text-white" asp-action="DeleteUnconfirmedView" asp-route-Id="@battleReport.Id">
                                        <i class="fas fa-thumbs-down"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
        else
        {
            <p>You currently have no battle reports to confirm.</p>
        }
    </div>
</div>