@model CasterResultViewModel
@{
    ViewData["Title"] = "Caster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="border applicationFormGroup">
    <h2 class="text-info">Caster Details</h2>
    <br />
    <div class="row">
        <div class="col-7 col-lg-5">
            <label>Select Faction: </label>
            <select asp-for="@Model.Faction" asp-items="@Model.Factions.Select(x => new SelectListItem() { Value = x.Id.ToString(), Text = x.Name }).ToList()" class="form-control mb-1" id="factionList"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-7 col-lg-5">
            <label asp-for="@Model.Caster">Select Caster: </label>
            <select id="selectCaster" asp-for="@Model.Caster" asp-items="@Model.Casters.Select(x => new SelectListItem() { Value = x.Name, Text = x.Name }).ToList()" class="form-control mb-1"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-4 col-lg-3">
            <a id="loadCaster" class="btn btn-primary form-control" href="@string.Concat("/EndUser/Statistics/Caster/", Model.Caster)">Load Result</a>
        </div>
    </div>
    <br />
    @if (!string.IsNullOrWhiteSpace(Model.StatusMessage))
    {
        <p>@Model.StatusMessage</p>
    }
    else
    {
        <h5 class="text-info">Statistics</h5>
        <hr />
        <partial name="_CasterDetails" model="@Model.CasterResult" />
        <hr />
        @if (Model.CasterResult.NumberOfGamesPlayed == 0)
        {
            <p>There are no recorded games with this caster.</p>
        }
        else
        {
            <h5 class="text-info">Played Themes</h5>
            <partial name="_EntityResultsTable" model="@Model.Themes" />
            <h5 class="text-info">Game Sizes</h5>
            <partial name="_EntityResultsTable" model="@Model.GameSizes" />
            <h5 class="text-info">Scenarios</h5>
            <partial name="_EntityResultsTable" model="@Model.Scenarios" />
            <h5 class="text-info">End Conditions</h5>
            <partial name="_EntityResultsTable" model="@Model.EndConditions" />
            <h5 class="text-info">Versus Factions</h5>
            <partial name="_EntityResultsTable" model="@Model.VersusFactions" />
            <h5 class="text-info">Versus Themes</h5>
            <partial name="_EntityResultsTable" model="@Model.VersusThemes" />
            <h5 class="text-info">Versus Casters</h5>
            <partial name="_EntityResultsTable" model="@Model.VersusCasters" />
        }
    }
</div>

@section Scripts {
    <script>
        $("#selectCaster").change(function () {
            $("#loadCaster").attr('href', '/EndUser/Statistics/Caster/' + this.value);
        });

        $("#factionList").on("change", function () {
            var factionSelected = document.getElementById("factionList").value;
            var themeList = document.getElementById("selectCaster");
            updateThemeList(factionSelected, themeList);
        });

        function updateThemeList(factionSelected, casterList) {
            $.ajax({
                url: '/EndUser/BattleReport/GetFactionCasterNames/' + factionSelected,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    casterList.options.length = 0;
                    for (var i = 0; i < data.length; i++) {
                        casterList.options[casterList.options.length] = new Option(data[i], data[i]);
                    }
                    if (casterList.options.length > 0) {
                        $("#loadCaster").attr('href', '/EndUser/Statistics/Caster/' + casterList.options[0].value);
                    }
                }
            });
        }
    </script>
}

