@model DashBoardViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="border applicationFormGroup">
    <h2 class="text-info">Dashboard</h2>
    <br />
    <h5 class="text-info">Top 10 Factions</h5>
    <div>
        @if (Model.Top10Factions.Count() == 0)
        {
            <p>There are no factions with any recorded games in the database.</p>
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>#</th>
                        <th>Faction</th>
                        <th>Lost</th>
                        <th>Won</th>
                        <th>Played</th>
                        <th>Winrate</th>
                        <th>Details</th>
                    </tr>
                    @{ int counter = 1; }
                    @foreach (Faction faction in Model.Top10Factions)
                    {
                        <tr>
                            <td>@counter</td>
                            <td>@faction.Name</td>
                            <td>@faction.NumberOfGamesLost</td>
                            <td>@faction.NumberOfGamesWon</td>
                            <td>@faction.NumberOfGamesPlayed</td>
                            <td>@faction.Winrate.ToString("P1")</td>
                            <td>
                                <a class="btn btn-success text-white" asp-area="EndUser" asp-controller="Statistics" asp-action="Faction" asp-route-Id="@faction.Name">
                                    <i class="fas fa-list-alt"></i>
                                </a>
                            </td>
                            @{ counter++; }
                        </tr>
                    }
                </table>
            </div>
            if (Model.Top10Factions.Count() == 1)
            {
                <p>There's only one faction with any recorded games in the database.</p>
            }
            else if (Model.Top10Factions.Count() < 10)
            {
                <p>There's only @Model.Top10Factions.Count factions with any recorded games in the database.</p>
            }
        }
    </div>
    <br />
    <h5 class="text-info">Top 10 Themes</h5>
    <div>
        @if (Model.Top10Themes.Count() == 0)
        {
            <p>There are no themes with any recorded games in the database.</p>
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>#</th>
                        <th>Theme</th>
                        <th>Lost</th>
                        <th>Won</th>
                        <th>Played</th>
                        <th>Winrate</th>
                        <th>Details</th>
                    </tr>
                    @{ int counter = 1; }
                    @foreach (Theme theme in Model.Top10Themes)
                    {
                        <tr>
                            <td>@counter</td>
                            <td>@theme.Name</td>
                            <td>@theme.NumberOfGamesLost</td>
                            <td>@theme.NumberOfGamesWon</td>
                            <td>@theme.NumberOfGamesPlayed</td>
                            <td>@theme.Winrate.ToString("P1")</td>
                            <td>
                                <a class="btn btn-success text-white" asp-area="EndUser" asp-controller="Statistics" asp-action="Theme" asp-route-Id="@theme.Name">
                                    <i class="fas fa-list-alt"></i>
                                </a>
                            </td>
                            @{ counter++; }
                        </tr>
                    }
                </table>
            </div>
            if (Model.Top10Themes.Count() == 1)
            {
                <p>There's only one theme with any recorded games in the database.</p>
            }
            else if (Model.Top10Themes.Count() < 10)
            {
                <p>There's only @Model.Top10Themes.Count themes with any recorded games in the database.</p>
            }
        }
    </div>
    <br />
    <h5 class="text-info">Top 10 Casters</h5>
    <div>
        @if (Model.Top10Casters.Count() == 0)
        {
            <p>There are no casters with any recorded games in the database.</p>
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>#</th>
                        <th>Caster</th>
                        <th>Lost</th>
                        <th>Won</th>
                        <th>Played</th>
                        <th>Winrate</th>
                        <th>Details</th>
                    </tr>
                    @{ int counter = 1; }
                    @foreach (Caster caster in Model.Top10Casters)
                    {
                        <tr>
                            <td>@counter</td>
                            <td>@caster.Name</td>
                            <td>@caster.NumberOfGamesLost</td>
                            <td>@caster.NumberOfGamesWon</td>
                            <td>@caster.NumberOfGamesPlayed</td>
                            <td>@caster.Winrate.ToString("P1")</td>
                            <td>
                                <a class="btn btn-success text-white" asp-area="EndUser" asp-controller="Statistics" asp-action="Caster" asp-route-Id="@caster.Name">
                                    <i class="fas fa-list-alt"></i>
                                </a>
                            </td>
                            @{ counter++; }
                        </tr>
                    }
                </table>
            </div>
            if (Model.Top10Casters.Count() == 1)
            {
                <p>There's only one theme with any recorded games in the database.</p>
            }
            else if (Model.Top10Casters.Count() < 10)
            {
                <p>There's only @Model.Top10Casters.Count themes with any recorded games in the database.</p>
            }
        }
    </div>
    <br />
    <h5 class="text-info">Top 10 Users</h5>
    <div>
        @if (Model.Top10Users.Count() == 0)
        {
            <p>There are no users with any recorded games in the database.</p>
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>#</th>
                        <th>User</th>
                        <th>Lost</th>
                        <th>Won</th>
                        <th>Played</th>
                        <th>Winrate</th>
                        <th>Details</th>
                    </tr>
                    @{ int counter = 1; }
                    @foreach (ApplicationUser user in Model.Top10Users)
                    {
                        <tr>
                            <td>@counter</td>
                            <td>@user.UserName</td>
                            <td>@user.NumberOfGamesLost</td>
                            <td>@user.NumberOfGamesWon</td>
                            <td>@user.NumberOfGamesPlayed</td>
                            <td>@user.Winrate.ToString("P1")</td>
                            <td>
                                <a class="btn btn-success text-white" asp-area="EndUser" asp-controller="Statistics" asp-action="User" asp-route-Id="@user.UserName">
                                    <i class="fas fa-list-alt"></i>
                                </a>
                            </td>
                            @{ counter++; }
                        </tr>
                    }
                </table>
            </div>
            if (Model.Top10Users.Count() == 1)
            {
                <p>There's only one user with any recorded games in the database.</p>
            }
            else if (Model.Top10Users.Count() < 10)
            {
                <p>There's only @Model.Top10Users.Count users with any recorded games in the database.</p>
            }
        }
    </div>
</div>