@model CasterResult

@if (Model.NumberOfGamesPlayed == 0)
{
    <div class="row">
        <div class="col-12">
            <strong>@Model.Name</strong>
        </div>
        <div class="col-12">
            This caster doesn't have any recorded games.
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="col-12">
                @if (Model.ListPosition != 0)
                {
                    <strong># @Model.ListPosition - @Model.Name</strong>
                }
                else
                {
                    <strong>@Model.Name</strong>
                }
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="col-12 col-md-6">
                <strong>Winrate:</strong> @Model.Winrate.ToString("P1")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="col-12">
                <strong>Games Played:</strong> @Model.NumberOfGamesPlayed
            </div>
            <div class="col-12">
                <strong>Games Won:</strong> @Model.NumberOfGamesWon
            </div>
            <div class="col-12">
                <strong>Games Lost:</strong> @Model.NumberOfGamesLost
            </div>
            <div class="col-12">
                <strong>Mirror Matches:</strong> @Model.NumberOfMirrorMatches
            </div>
            <div class="col-12">
                <strong>Most Played Theme:</strong>
            </div>
            <div class="col-12">
                @Model.MostPlayedTheme (@Model.GamesWithMostPlayedTheme)
            </div>
            <div class="col-12">
                <strong>Best Theme:</strong>
            </div>
            <div class="col-12">
                @Model.BestPerformingTheme (@Model.WinrateBestPerformingTheme.ToString("P1"))
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="col-12">
                <strong>Most Played Scenario:</strong>
            </div>
            <div class="col-12">
                @Model.MostPlayedScenario (@Model.GamesMostPlayedScenario)
            </div>
            <div class="col-12">
                <strong>Best Scenario:</strong>
            </div>
            <div class="col-12">
                @Model.BestPerformingScenario (@Model.WinrateBestPerformingScenario.ToString("P1"))
            </div>
            <div class="col-12">
                <strong>Most Played End Condition: </strong>
            </div>
            <div class="col-12">
                @Model.MostPlayedEndCondition (@Model.GamesMostPlayedEndCondition)
            </div>
            <div class="col-12">
                <strong>Best End Condition:</strong>
            </div>
            <div class="col-12">
                @Model.BestPerformingEndCondition (@Model.WinrateBestPerformingEndCondition.ToString("P1"))
            </div>
        </div>
    </div>
}