@model BattleReport

<div class="row">
    <div class="col-12 col-md-6">
        <h5 class="text-info">Posters Information</h5>
        <div class="row">
            <div class="col-12">
                <strong>Username</strong>
            </div>
            <div class="col-12 mb-1">
                @Model.PostersUsername
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <strong>Faction</strong>
            </div>
            <div class="col-12 mb-1">
                @Model.PostersFaction
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <strong>Theme</strong>
            </div>
            <div class="col-12 mb-1">
                @Model.PostersTheme
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <strong>Caster</strong>
            </div>
            <div class="col-12 mb-1">
                @Model.PostersCaster
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <strong>Control Points</strong>
            </div>
            <div class="col-12 mb-1">
                @Model.PostersControlPoints
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <strong>Army Points</strong>
            </div>
            <div class="col-12 mb-1">
                @Model.PostersArmyPoints
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <strong>Army List</strong>
            </div>
            <div class="col-12 mb-1">
                <textarea asp-for="@Model.PostersArmyList" rows="3" readonly class="form-control-plaintext"></textarea>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <h5 class="text-info">Opponents Information</h5>
        <div class="row">
            <div class="col-12">
                <strong>Username</strong>
            </div>
            <div class="col-12 mb-1">
                @Model.OpponentsUsername
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <strong>Faction</strong>
            </div>
            <div class="col-12 mb-1">
                @Model.OpponentsFaction
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <strong>Theme</strong>
            </div>
            <div class="col-12 mb-1">
                @Model.OpponentsTheme
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <strong>Caster</strong>
            </div>
            <div class="col-12 mb-1">
                @Model.OpponentsCaster
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <strong>Control Points</strong>
            </div>
            <div class="col-12 mb-1">
                @Model.OpponentsControlPoints
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <strong>Army Points</strong>
            </div>
            <div class="col-12 mb-1">
                @Model.OpponentsArmyPoints
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <strong>Army List</strong>
            </div>
            <div class="col-12 mb-1">
                <textarea asp-for="@Model.OpponentsArmyList" readonly class="form-control-plaintext"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h5 class="text-info">Game Information</h5>
    </div>
    <div class="col-12 col-md-6">
        <div class="row">
            <div class="col-12">
                <strong>Game Size</strong>
            </div>
            <div class="col-12 mb-1">
                @Model.GameSize
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <strong>Scenario</strong>
            </div>
            <div class="col-12 mb-1">
                @Model.Scenario
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <strong>End Condition</strong>
            </div>
            <div class="col-12 mb-1">
                @Model.EndCondition
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row">
            <div class="col-12">
                <strong>Winner</strong>
            </div>
            <div class="col-12 mb-1">
                @Model.WinnersUsername
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <strong>Date Played</strong>
            </div>
            <div class="col-12 mb-1">
                @Model.DatePlayed.ToString("yyyy-MM-dd")
            </div>
        </div>
    </div>
</div>