@model BattleReport

<div class="row">
    <div class="col-12 col-md-6 text-center">
        <div class="col-12">
            <strong>Date played:</strong>
        </div>
        <div class="col-12">
            @Model.DatePlayed.ToShortDateString()
        </div>
    </div>
    <div class="col-12 col-md-6 text-center">
        <div class="col-12">
            <strong>Winner:</strong>
        </div>
        <div class="col-12">
            @Model.WinnersUsername
        </div>
    </div>
</div>
<hr />  
<div class="row">
    <div class="col-12 col-md-6 text-center">
        <div class="col-12">
            <strong>Player 1:</strong>
        </div>
        <div class="col-12">
            @Model.PostersUsername
        </div>
        <div class="col-12">
            <strong>Faction:</strong>
        </div>
        <div class="col-12">
            @Model.PostersFaction
        </div>
        <div class="col-12">
            <strong>Theme:</strong>
        </div>
        <div class="col-12">
            @Model.PostersTheme
        </div>
        <div class="col-12">
            <strong>Caster:</strong>
        </div>
        <div class="col-12">
            @Model.PostersCaster
        </div>
        <div class="col-12">
            <strong>Control Points:</strong> @Model.PostersControlPoints
        </div>
        <div class="col-12">
            <strong>Army Points:</strong> @Model.PostersArmyPoints
        </div>
    </div>
    <div class="col-12 col-md-6 text-center">
        <div class="col-12">
            <strong>Player 2:</strong>
        </div>
        <div class="col-12">
            @Model.OpponentsUsername
        </div>
        <div class="col-12">
            <strong>Faction:</strong>
        </div>
        <div class="col-12">
            @Model.OpponentsFaction
        </div>
        <div class="col-12">
            <strong>Theme:</strong>
        </div>
        <div class="col-12">
            @Model.OpponentsTheme
        </div>
        <div class="col-12">
            <strong>Caster:</strong>
        </div>
        <div class="col-12">
            @Model.OpponentsCaster
        </div>
        <div class="col-12">
            <strong>Control Points:</strong> @Model.OpponentsControlPoints
        </div>
        <div class="col-12">
            <strong>Army Points:</strong> @Model.OpponentsArmyPoints
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-12 col-md-6 text-center">
        <div class="col-12">
            <strong>Game Size:</strong> @Model.GameSize
        </div>
        <div class="col-12">
            <strong>Scenario:</strong> @Model.Scenario
        </div>
    </div>
    <div class="col-12 col-md-6 text-center">
        <div class="col-12">
            <strong>End Condition:</strong>
        </div>
        <div class="col-12">
            @Model.EndCondition
        </div>
    </div>
</div>
<br />